# API key that allows the application to successfully talk to a LLM.
# I have used Gemini API Key, but feel free to change to whatever LLM API Key you have.
# Update the same in it's usage.
# GEMINI_API_KEY={Paste API Key here} 